.footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }
  
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
